<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Tareas</h1>
        <from method="POST">
            {% csrf_token%}
            <div class="mb-3">
                <input type="text" class="form-control" name="descripcion" placeholder="Describe la Tarea">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Tarea</button>
        </from>
        <ul class="list-group mt-3">
            {% for tarea in tareas %}
            <li class="list-group-item d-flex justify-content-between aling-items-center">
                <span {%if tarea.completada %} style="text-decoration: line-through;" {% endif %} >
                {{tarea.descripcion}}   
                </span>
                <span>
                    <a  href="{% url 'completar_tarea' tarea.id %}" class="btn-sm btn-success">Completar</a>
                    <a  href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </span>
            </li>
            {%endfor%}
        </ul>




    </div>
 
</body>
</html>